@model List<Question>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Sorular
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Quiz"
               asp-action="Index" class="btn btn-primary">Anketlere Dön</a>
        </div>
    </div>


    @if (Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Soru</th>
                    <th>Seçenek A</th>
                    <th>Seçenek B</th>
                    <th>Seçenek C</th>
                    <th>Seçenek D</th>
                    <th>Seçenek E</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.QuestionText</td>
                        <td>@obj.OptionA</td>
                        <td>@obj.OptionB</td>
                        <td>@obj.OptionC</td>
                        <td>@obj.OptionD</td>
                        <td>@obj.OptionE</td>
                    </tr>
                }

            </tbody>

        </table>
    }
    else
    {
        <div class="text-center">
            <p>İlgili ankete ait soru bulunamadı.</p>
        </div>
    }

</div>