@model QuizViewModel

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Quiz Oluştur</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" id="form">
            @*<input asp-for="@Model.QuizID = TempData["quizId"]" hidden />*@
            <div class="border p-3">

                @*<div asp-validation-summary="ModelOnly"></div>*@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Quiz.Name" class="form-control border-0 shadow" />
                    <label asp-for="Quiz.Name" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Quiz.CreatedBy" class="form-control border-0 shadow" />
                    <label asp-for="Quiz.CreatedBy" class="ms-2"></label>
                </div>
                <div class="card shadow border-0 mt-4">
                    <div class="card header bg-secondary bg-gradient m-lg-0 py-3">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2 class="py-2">Soru Ekle</h2>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.QuestionText" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.QuestionText" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.OptionA" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.OptionA" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.OptionB" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.OptionB" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.OptionC" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.OptionC" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.OptionD" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.OptionD" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.OptionE" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.OptionE" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="@Model.Question.CorrectAnswer" class="form-control border-0 shadow" />
                                <label asp-for="@Model.Question.CorrectAnswer" class="ms-2"></label>
                                @*<span asp-validation-for="Name" class="text-danger"></span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Quiz Oluştur</button>
                    </div>
                    
                    <div class="col-6 col-md-3">
                        <a asp-controller="Quiz" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Quizler
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

