@model Question

<div class="col-sm-12 col-md-4 my-2">
    <div class="card shadow border-0 mt-4">
        <div class="card-body p-4">
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.QuestionText" class="form-control border-0 shadow" />
                <label asp-for="@Model.QuestionText" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.OptionA" class="form-control border-0 shadow" />
                <label asp-for="@Model.OptionA" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.OptionB" class="form-control border-0 shadow" />
                <label asp-for="@Model.OptionB" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.OptionC" class="form-control border-0 shadow" />
                <label asp-for="@Model.OptionC" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.OptionD" class="form-control border-0 shadow" />
                <label asp-for="@Model.OptionD" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.OptionE" class="form-control border-0 shadow" />
                <label asp-for="@Model.OptionE" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-floating py-2 col-12">
                <input asp-for="@Model.CorrectAnswer" class="form-control border-0 shadow" />
                <label asp-for="@Model.CorrectAnswer" class="ms-2"></label>
                @*<span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <a href="#" class="deleteRow">delete</a>
        </div>
    </div>
</div>